@{
	ViewBag.Title = "ViewList";
	Layout = "/Views/Shared/_Layout.cshtml";
}			<h2>
				ViewList
			</h2>
			<p>
				This is the page that would show a list selected by the user.
			</p>
			<table>
@foreach (System.Data.DataRow DataRow in Model.Tables[0].Rows) {
				<tr>
					<td>
						<a href="/Movie/MoviePage/@DataRow[0]" class="elements">
							@DataRow[1] (@DataRow[2])
						</a>
					</td>
				</tr>
}			</table>