@{
	this.Layout = "~/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "Login";
	this.ViewBag.css = new System.String[] { "w3" };
	this.ViewBag.js = new System.String[] { "ajax", "event", "Login" };
}			<div class="row">
				<div class="col-md-12">
					<section id="loginForm">
						<h2>Login</h2>
						<hr />
						<div class="form-group">
							<label>Email</label>
							<div class="col-md-10">
								<input type="text" name="email" class="form-control" id="email" />
							</div>
						</div>
						<div class="form-group">
							<label>Password</label>
							<div class="col-md-10">
								<input type="text" name="password" class="form-control" id="password" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<input type="submit" value="Log in" class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" id="login" />
							</div>
						</div>
						<p>
							<a href="/Register/Register">Register as a new user</a>
						</p>
						@* Enable this once you have account confirmation enabled for password reset functionality
					<p>
						@Html.ActionLink("Forgot your password?", "ForgotPassword")
					</p>*@
					</section>
				</div>
			</div>