
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.css = new System.String[] { "w3" };
}

<h2>Profile</h2>

<div>
    <div>
        <p>Create List</p>
    </div>
    <div>
        <p>Delete List</p>
    </div>
    <div>
        <p>Watch List</p>
    </div>
</div>


