
@{
    ViewBag.Title = "BrowseMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BrowseMovies</h2>
@using (Html.BeginForm("SearchMovies", "Browse", FormMethod.Post))
{
    <input type="text" name="Title" id="titleBox" />
    <button type="submit">Search</button>
}
<p>This is a test.</p>
