@{
	this.Layout = "~/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "BrowseMovies";
	this.ViewBag.css = new System.String[] { "w3" };
}			<div class="PageHeader">
				<div class="buttonNav">
					<p>Browse/Search for Movies</p>
				</div>
				<div class="buttonNav buttonNav1">
					<form action="~/Profile/Profile" method="get">
						<div class="form-row">
							<div>
								<button id="Profile" type="submit" class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large">Profile Page</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="textSearch">
				<p>Please enter the start of the movie name or the entire movie name and click search</p>

				@using (Html.BeginForm("SearchMovies", "Browse", FormMethod.Get))
				{
					<input type="text" name="title" id="title" />
					<button class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" type="submit">Search</button>

				}
			</div>
			<div class="CurratedListsTable">
				<table class="resultTable1 w3-col l12">
@for (System.Int32 index_a = 0; index_a < this.ViewBag.list.Length; index_a += 1) {
					<tr class="listTitle">
						<td >
							@this.ViewBag.list[index_a].name
						</td>
					</tr>
					<tr class="listMovies">
						<td>
@for (System.Int32 index_b = 0; index_b < System.Math.Min(5 , this.ViewBag.view_list[index_a].Length); index_b += 1) {
							<a href="/Movie/MoviePage/@this.ViewBag.view_list[index_a][index_b].tconst" class="elements">
								<img alt="@this.ViewBag.view_list[index_a][index_b].primaryTitle" class="movieposter1 w3-third" src="@this.ViewBag.view_list[index_a][index_b].poster" />
							</a>
}						</td>
					</tr>
}				</table>
			</div>