
@{
    ViewBag.Title = "SearchMovies";
}

<table>
    <tr>
        <td>Title:</td>
        <td>Year:</td>
    </tr>
    @foreach (var movie in ViewBag.searchResults)
    {
        <tr>

            <td><a href="@Url.Action( "MoviePage", "Movie", new { ID = movie.imdbID })" class="elements">@movie.title</a></td>
            <td>@movie.year</td>
            
        </tr>
    }
    </table>

