
@{
    ViewBag.Title = "SearchMovies";
}

<head>
    <link href="~/Styles/BrowseSearchMovies.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<div class="PageHeader">
    <p>Search Results</p>
</div>

<div class="SearchResults">
    <table class="resultTable">
        @*<tr class="tableHeader">
            <td>Title:</td>
        </tr>*@
        <tr>
            @foreach (var movie in ViewBag.searchResults)
            {


                <td class="tableMovieTitle">
                    <a href="@Url.Action( "MoviePage", "Movie", new { ID = movie.imdbID })" class="elements"><img src=@movie.poster alt=@movie.title class="movieposter w3-third" /></a>                                  
                </td>


            }
        </tr>
        </table>
</div>
