<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			@ViewBag.Title - My ASP.NET Application
		</title>
		<link href="/Styles/bootstrap.css" rel="stylesheet" />
		<link href="/Styles/site.css" rel="stylesheet" />
@{
	if (this.ViewBag.css != null) {
		foreach (System.String css in this.ViewBag.css) {
			@Html.Raw(System.String.Format("\t\t<link href=\"/Styles/{0}.css\" rel=\"stylesheet\" />{1}" , css, System.Environment.NewLine));
		}
	}
}	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/Landing/Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Browse/BrowseMovies">Browse Movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Profile/Profile">Profile</a>
					</li>
				</ul>
                <ul class="form-inline mt-2 mt-md-0">
                    <li class="nav-item w3-btn w3-black w3-hover-green w3-round-xxlarge w3-small">
                        <a class="nav-link" href="/Register/Register">Register</a>
                    </li>
                    @if (Session["UserId"] == null)
                    {
                        <li class="nav-item w3-btn w3-black w3-hover-green w3-round-xxlarge w3-small">
                            <a class="nav-link" href="/Login/Login">Log in</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item w3-btn w3-black w3-hover-green w3-round-xxlarge w3-small">
                            <a class="nav-link" href="/Login/Logout">Log out</a>
                        </li>
                    }
                </ul>
			</div>
		</nav>
		<div class="container body-content">@RenderBody()
		</div>
		<script src="/Scripts/jquery-1.10.2.js"></script>
		<script src="/Scripts/modernizr-2.6.2.js"></script>
		<script src="/Scripts/bootstrap.js"></script>
@{
	if (this.ViewBag.js != null) {
		foreach (System.String js in this.ViewBag.js) {
			@Html.Raw(System.String.Format("\t\t<script src=\"/Scripts/{0}.js\"></script>{1}" , js, System.Environment.NewLine));
		}
	}
}	</body>
</html>