@model System.Data.DataSet
@{
	ViewBag.Title = "MoviePage";
	ViewBag.css0 = "<link href=\"/Styles/dynamicmovie-page.css\" rel=\"stylesheet\" />";
	ViewBag.css1 = "<link href=\"/Styles/w3.css\" rel=\"stylesheet\" />";
	Layout = "/Views/Shared/_Layout.cshtml";
}
			<div class="dynamicmovieload w3-mobile">
				<img src=@ViewBag.json.poster alt="A picture of the movie poster" class="movieposter w3-third" />
				<div class="moviedetails w3-mobile w3-twothird" style="height:auto;">
					<div>
						Title: @ViewBag.json.title
					</div>
					<div>
						Year: @ViewBag.json.year
					</div>
					<div>
						Type: @ViewBag.json.type
					</div>
					<div>
						Descritpion: @ViewBag.json.plot
					</div>
					<div class="test">
						<button class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" type="submit" id="Save">
							Save
						</button>
						<button class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" type="submit" id="Rate">
							Rate
						</button>
					</div>
				</div>
			</div>