@model System.Data.DataSet
@{
	ViewBag.Title = "Contact";
}			<form>
				<select name="table">
					<option value="name_basics">
						Name Basics
					</option>
					<option value="title_akas">
						Title Akas
					</option>
					<option value="title_basics">
						Title Basics
					</option>
					<option value="title_crew">
						Title Crew
					</option>
					<option value="title_episode">
						Title Episode
					</option>
					<option value="title_principals">
						Title Principals
					</option>
					<option value="title_ratings">
						Title Ratings
					</option>
					<option value="list">
						List
					</option>
					<option value="list_film">
						List Film
					</option>
					<option value="user">
						User
					</option>
				</select>
				<input name="where" type="text" />
				<button type="submit">
					Search
				</button>
			</form>
			<table>
				<tr>
@foreach (System.Data.DataColumn DataColumn in Model.Tables[0].Columns) {
					<th>
						@DataColumn.ToString()
					</th>
}				</tr>
@foreach (System.Data.DataRow DataRow in Model.Tables[0].Rows) {
				<tr>
@for (System.Int32 index = 0; index < Model.Tables[0].Columns.Count; index += 1) {
					<td>
						@DataRow[index]
					</td>
}				</tr>
}			</table>
			<h2>
				@ViewBag.Title
			</h2>
			<h3>
				@ViewBag.Message
			</h3>