@model System.Data.DataSet
@{
	ViewBag.Title = "Contact";
}			<table>
				<tr>
@foreach (System.Data.DataColumn DataColumn in Model.Tables[0].Columns) {
					<th>
						@DataColumn.ToString()
					</th>
}				</tr>
@foreach (System.Data.DataRow DataRow in Model.Tables[0].Rows) {
				<tr>
@for (System.Int32 index = 0; index < Model.Tables[0].Columns.Count; index += 1) {
					<td>
						@DataRow[index]
					</td>
}				</tr>
}			</table>
			<h2>
				@ViewBag.Title
			</h2>
			<h3>
				@ViewBag.Message
			</h3>