@{
	ViewBag.Title = "Home Page";
}			<div class="jumbotron">
				<h1>Discover Your Inner Film-Geek</h1>
				<p class="lead">Super Cool Web App is a expansive, highly personalized movie recommendation service built to do something really good and great stuff and yeah its awesome!</p>
				<p><a href="/Account/Register/" class="btn btn-primary btn-lg">Register &raquo;</a></p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h2>Register</h2>
					<p>
						Joining Super Cool Web App begins with setting up your username and password.
					</p>
					<p><a class="btn btn-default" href="/Account/Register">Get Started &raquo;</a></p>
				</div>
				<div class="col-md-4">
					<h2>Personalize</h2>
					<p>After your account is complete, you will be asked to tell us about your favorite entry of the Free Willy series.</p>
                    <p><a class="btn btn-default" href="/Account/Register">Get Started &raquo;</a></p>
				</div>
				<div class="col-md-4">
					<h2>Discover</h2>
					<p>Browse our personalized reccommendations for you based on whatever the hell you did earlier how do you spell reccommendation is it with two c's or one?</p>
                    <p><a class="btn btn-default" href="/Account/Register">Get Started &raquo;</a></p>
				</div>
			</div>