body {
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.25), rgba(225, 225, 225, 0.25)), url(/Images/movie-theater-film-reel.png);
    color: white;
}

.dynamicmovieload {
    white-space: nowrap;
    margin-top: 20px;
}

.movieposter {
    display: inline-block;
    vertical-align: top;
    border: 1px solid white;
    //padding: 20px;
    height: 500px;
}

.moviedetails {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    padding: 20px 20px 20px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(225, 225, 225, 0.45);
    min-height: 500px;
    overflow: auto;
    color: black;
}

.test1{
    position: relative;
}

.test{
    padding: 20px;
    margin-left: 70px;
    margin-top: 525px;
    position: absolute;
}


