@{
	this.Layout = "/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "Index";
	this.ViewBag.css = new System.String[] { "w3" };
}			<!-- Masthead -->
			<header class="masthead text-white text-center">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-xl-9 mx-auto">
							<h1 class="mb-5">Welcome to Good Watch!<br /><br />Here you can find movies that are currently playing and checkout what others are watching!</h1>
						</div>
						<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
							<form action="~/Login/Login" method="get" >
								<div class="form-row">
									<div class="col-12">
										<button id="SignIn" type="submit" class="btn btn-block btn-lg btn-primary">Log in</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</header>
			<!-- Icons Grid -->
			<section class="features-icons bg-light text-center">
				<div class="container highlevel">
					<div class="row">
						<div class="col-lg-4">
							<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
								<div class="features-icons-icon d-flex">
									<i class="icon-screen-desktop m-auto text-primary"></i>
								</div>
								<h3>Movie Theaters</h3>
								<p class="lead mb-0">Show what movies are out currently in theaters!</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
								<div class="features-icons-icon d-flex">
									<i class="icon-layers m-auto text-primary"></i>
								</div>
								<h3>Now Streaming</h3>
								<p class="lead mb-0">Provide current streaming options for different shows!</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="features-icons-item mx-auto mb-0 mb-lg-3">
								<div class="features-icons-icon d-flex">
									<i class="icon-check m-auto text-primary"></i>
								</div>
								<h3>Connect!</h3>
								<p class="lead mb-0">Connect with friends to see what they are watching!  Maybe you will get an idea!</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Image Showcases -->
			<section class="showcase">
				<div class="container-fluid p-0">
					<div class="row no-gutters">
						<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../Images/theater-names_opt.jpg');"></div>
						<div class="col-lg-6 order-lg-1 my-auto showcase-text">
							<h2>Current Showing in Theaters</h2>
							<p class="lead mb-0">Show the major theaters around you and what is currently being played!</p>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-lg-6 text-white showcase-img" style="background-image: url('../../Images/Streaming.jpg');"></div>
						<div class="col-lg-6 my-auto showcase-text">
							<h2>Popular on Streaming Services</h2>
							<p class="lead mb-0">Show the popular TV series, movies, shows, etc. on the major streaming services!</p>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../Images/connect_opt.jpg');"></div>
						<div class="col-lg-6 order-lg-1 my-auto showcase-text">
							<h2>Connect with Friends!</h2>
							<p class="lead mb-0">Create watch lists that others can follow and also follow your friends watch lists!</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Call to Action -->
			<section class="call-to-action text-white text-center">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-xl-9 mx-auto">
							<form action="~/Register/Register" method="get">
								<h2 class="mb-4">Ready to get started? Sign up now!</h2>
								<button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
							</form>
						</div>
					</div>
				</div>
			</section>