
@{
    ViewBag.Title = "UserHomepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHomepage</h2>

<p>This is a test of the User Homepage.</p>
<p>This is the page the user would see after either logging in or registering.</p>

