
@{
    ViewBag.Title = "ManageLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.css = new System.String[] { "w3" };
}			<h2>
				ManageLists
			</h2>
			<table>
				<tr>
					<th>
					</th>
					<th>
						Remove Movie From List
					</th>
				</tr>
@foreach (Team3_Project.Databases.memdixyp_film.view_list view_list in this.ViewBag.view_list) {
				<tr>
					<td>
						<label>
							<input name="@view_list.tconst" type="checkbox" />
							@view_list.primaryTitle (@view_list.startYear)
						</label>
					</td>
					<td>
					</td>
				</tr>
}			</table>
			<div>
				<a class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" href="javascript:void(0)" onclick="document.getElementById">
					Remove Movie From List
				</a>
			</div>